*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background:linear-gradient(#333 , #777);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
}

a:hover{
    color: blue;
}

body::after{
content: "";
position: absolute;
background-color: blue;
opacity: 50%;
clip-path: circle(50% at right bottom);
width: 100%;
height: 100%;
z-index: -1;
}





 .container{
background-color: rgba(255, 255, 255, 0.1);
border-radius: 10px;
height: 80%;
}

.container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
}

.container nav li{
    display: inline-flex;
    margin: 10px;
}

.container nav h2{
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
}

.container .content{
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    color: white;
}


.container .content h2{
font-size: 40px;
text-transform: capitalize;
margin-bottom: 20px;
}
.content p{
    font-size: 20px;
    line-height: 30px;
}

img{
    height: 400px;
}


@media (max-width:767px) {
    img{
        height: 200px;
    }
    nav{
        flex-direction: column;
    }
    nav h2{
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .text{
margin-top: 20px;
    }

    .text h2{
        font-size: 19px;
    }
    p{
        font-size: 15px;
        width: 300px;
}
.content{
    flex-direction: column;
}
body::after{
  clip-path: circle(50% at bottom);
  transform: translateY(-150px);
}

}